body {
    font-family: '맑은 고딕', 'Malgun Gothic', sans-serif;
    text-align: center;
}
#img-url {
    width: 70vw
}
#terms {
    resize: none;
    width: 80vw;
    height: 300px;
}
a {
    text-decoration-color: black;
    text-decoration-line: none;
}
#recaptcha_container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}